@font-face {
  font-family: SourceCodePro;
  src: url(SourceCodePro.ttf);
}

body {
  background-color: #006904;
  color: #f1f1f1;
  text-align: center;
  font-family: SourceCodePro, "Times New Roman", Times, serif;
  line-height: 20px;
  margin: 0;
}

.padding {
  padding: 30px;
}

.hbox {
  display: flex;
  justify-content: space-evenly;
}

.hbox div {
  margin: 40px;
  padding: 20px;
  font-size: 30px;
}

.hbox h2 {
  font-size: 28px;
  align-self: center;
  justify-self: center;
  padding-left: 20px;
}

.hbox .list-item {
  align-self: flex-start;
  justify-self: flex-start;
}

.hbox h3 {
  font-size: 20px;
}

.hbox img {
  padding: 10px;
  max-width: 50px;
}

.hbox .vbox {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  align-items: center;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.vbox .hbox {
  margin: 5px;
  padding: 5px;
}

.vbox div {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  align-items: center;
}

.vbox img {
  margin: 10px;
  padding: 20px;
}

.vbox h1 {
  font-size: 128px;
}

.vbox h2 {
  font-size: 32px;
  padding-top: 10px;
}

.vbox .list {
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.vbox ul {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 8px;
  margin: 8px;
}

.vbox li {
  font-size: 18px;
  padding: 10px;
  padding-left: 0px;
  text-align: left;
}

.vbox p {
  padding: 2px;
  margin: 2px;
  font-size: 20px;
  word-wrap: break-word;
}

.box {
  background-color: aquamarine;
  color: black;
  align-self: center;
  box-sizing: border-box;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
}

.white {
  background-color: #f1f1f1;
  color: black;
}

.limegreen {
  background-color: #73AD21;
  color: #f1f1f1;
}

.forestgreen {
  background-color: #006904;
  color: #f1f1f1;
}

.aquamarine {
  background-color: #51E088;
  color: black;
}

.darkslategrey {
  background-color: darkslategrey;
  color: #f1f1f1;
}

.gold {
  background-color: #b6a31a;
  color: #f1f1f1;
}

.roundedsection {
  margin: 15px;
  border-radius: 25px;
}

.squaresection {
  margin: 35px;
}

.roundedborder {
  border-radius: 25px;
  border: 2px solid #E0CF51;
  padding: 20px;
}

.linkbutton {
  padding: 20px;
  margin: 15px;
  max-width: fit-content;
  font-size: 24px;
  border-radius: 25px;
}

.bottombar {
  bottom: 0;
  font-size: 30px;
  overflow: hidden;
  width: 100%; /* Full width */
  display: flex;
  justify-content: flex-start;
}

.bottombar p {
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.bottombar a {
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  justify-self: flex-end;
  align-self: center;
}

.bottombar .right {
  margin-left: auto;
  padding-right: 16px;
}

.bottombar img {
  max-width: 50px;
  padding: 8px 8px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: darkslategrey;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  border-radius: 25px;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  border-radius: 25px;
  border: 2px solid #73AD21;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .vbox h2 {
    font-size: 24px;
    padding-top: 10px;
  }

  .hbox h3 {
    font-size: 16px;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 