body {
  background-color: lightblue;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  color: white;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  word-spacing: 32px;
}

h4 {
  font-size: 20px;
  display: inline;
  padding: 32px;
}

a {
  font-size: 20px;
}

p {
  font-size: 12px;
}

ul {
  font-size: 16px;
}

.boxes {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
}

.box {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}