@font-face {
  font-family: SourceCodePro;
  src: url(SourceCodePro.ttf);
}

body {
  background-color: lightgreen;
  text-align: center;
  font-family: SourceCodePro, "Times New Roman", Times, serif;
  line-height: 20px;
  margin: 0;
}

.padding {
  padding: 30px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  word-spacing: 32px;
}

h4 {
  font-size: 20px;
  margin: 0px;
  padding: 4px;
}

a {
  font-size: 20px;
  color: #f1f1f1;
}

p {
  font-size: 16px;
}

ul {
  font-size: 16px;
}

.pink {
  background-color: lightcoral;
}

.red {
  background-color: lightsalmon;
}

.green {
  background-color: lightseagreen;
}

.blue {
  background-color: lightsteelblue;
}

.navy {
  background-color: blue;
  color: white;
}

.row {
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: grid;
}

.project {
  max-width: 800px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  margin: 0px;
  padding: 4px;
}

.description {
  max-width: 1400px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.white {
  background-color: #f1f1f1;
  color: black;
}

.white a {
  color: black;
}

.limegreen {
  background-color: #73AD21;
  color: #f1f1f1;
}

.forestgreen {
  background-color: #006904;
  color: #f1f1f1;
}

.aquamarine {
  background-color: #51E088;
  color: black;
}

.aquamarine a {
  color: black;
}

.darkslategrey {
  background-color: darkslategrey;
  color: #f1f1f1;
}

.gold {
  background-color: #b6a31a;
  color: #f1f1f1;
}

.roundedsection {
  margin: 15px;
  border-radius: 25px;
}

.squaresection {
  margin: 35px;
}

.roundedborder {
  border-radius: 25px;
  border: 2px solid #E0CF51;
  padding: 20px;
}

.bottombar {
  bottom: 0;
  font-size: 30px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.bottombar p {
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.bottombar a {
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  justify-self: flex-end;
  align-self: center;
}

.bottombar .right {
  margin-left: auto;
  padding-right: 16px;
}

.bottombar img {
  max-width: 50px;
  padding: 8px 8px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: darkslategrey;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  border-radius: 25px;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  border-radius: 25px;
  border: 2px solid #73AD21;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .project iframe {
    width: 100%;
    height: 50%;
    max-width: 128px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 